html {
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1 {
    color: #6666ff;
}

#tac {
    color: #16DB93;
}

#toe {
    color: #F61067;
}

.player-Turn {
    display: flex;
    margin-top: 50px;
}

.player1,
.player2 {
    background-color: #F61067;
    color: #ffff;
    border-radius: 10px;
    font-size: 2rem;
    margin: 25px;
    padding:0 50px;
    text-align: left;
   
}
.counter{
    height:60px;
    width: 50px;
    display: flex;
    flex-direction: column;
    margin-top:-50px;
    margin-left:50px;
    font-size: 0.8rem;
}
p{
    margin-bottom: 10px;
}
.active {
    background-color: #ffff;
    color: blue;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 100px;
}

.cell {
    height: 100px;
    width: 100px;
    border: 2px solid #252627;
    border-top: none;
    border-left: none;
    cursor: pointer;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:nth-child(7),
:nth-child(8),
:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.results {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}

.results h1 {
    color: #ffff;
    font-size: 40px;
    text-align: center;
}

.results button {
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 10px;
    border-style: none;
    margin-top: 40px;
    cursor: pointer;
}

.inactive {
    display: none;
}

.disable {
    pointer-events: none;
}
.activeCell{
    pointer-events:painted;
}

.playerTurn {
    background-color: #16DB93;
    color: #133C55;
}
#restart{
   padding: 5px 20px;
    margin-top: 25px;
}

.X {
    color: #EAC5D8;
}

.O {
    color: #5F7367;
}

@media screen and (max-width:991px){

    .player-Turn {
        display: flex;
        flex-direction: column;
    }
   
    .player1,
    .player2 {
        padding:5px;
        font-size: 1rem;
    }
    .gameBoard {
        margin: 40px;
    }
    .cell {
        font-size: 2rem;
    }
    h2{
        margin-top: 10px;
        margin-left: 10px;
    }
    .counter{
        margin-top: -30px;
        font-size: 0.6rem;
    }
    .cell {
        height: 50px;
        width: 50px;
        font-size: 2rem;
    }
    .results h1 {
        font-size: 20px;
    }
    .results button {
        font-size: 10px;
    }
    
}